  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="app.component.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
<nav class="navbar">
  <ul class="navbar-menu">
    <li class="navbar-item logo">
      <a href="#" class="navbar-link" routerLink="home">
        <span class="navbar-title">KonohaCadeau</span>
        <i class="fas fa-chevron-right navbar-icon"></i>
      </a>
    </li>
    <li class="navbar-item">
      <a href="#" class="navbar-link" routerLink="home">
        <i class="fas fa-home navbar-icon"></i>
        <span class="navbar-title">Accueil</span>
      </a>
    </li>
    <li class="navbar-item">
      <a href="#" class="navbar-link" routerLink="product">
        <i class="fas fa-gift navbar-icon"></i>
        <span class="navbar-title">Produits</span>
      </a>
    </li>
    <li class="navbar-item">
      <a href="#" class="navbar-link">
        <i class="fas fa-phone navbar-icon" routerLink="product"></i>
        <span class="navbar-title">Contact</span>
      </a>
    </li>
    <li class="navbar-item">
      <a href="#" class="navbar-link" routerLink="product">
        <i class="fas fa-user navbar-icon"></i>
        <span class="navbar-title">Mon compte</span>
      </a>
    </li>
    <li class="navbar-item">
      <a href="#" class="navbar-link" routerLink="product">
        <i class="fas fa-sign-out-alt navbar-icon"></i>
        <span class="navbar-title">Quitter</span>
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

<section class="home">
  <img src="../../assets/wp4068752-konoha-wallpapers.jpg">

  <div class="homecontent">
  <h1>Offrez et recevez des cadeaux à tout moment !</h1>
  <a href="#" class="btn btn-lg btn-light">Découvrir</a> &nbsp;
  <a href="#" class="btn btn-lg btn-primary">Se connecter</a>
</div>
</section>
